window.setTimeout(function() {
    $(".alert").remove()
}, 3000);

/* Allows adding/removing of input field for ingredients */
var i = 1;

function add_fields() {
    var newparagraph = document.createElement('p');
    newparagraph.innerHTML = '<hr><div class="form-group"><strong>Ingredient Name:</strong> <input type="text" name="ingredient[][name]" id="ingredient_name_A' + i + '" required></div><div class="form-group"><strong>Ingredient Amount:</strong> <input type="text" name="ingredient[][amount]" size="5" id="ingredient_amount_A' + i + '" required></div><div class="form-group"><strong>Ingredient Measurement:</strong> <input type="text" name="ingredient[][measurement_type]" size="33" placeholder="e.g. cup, teaspoon, tablespoon, etc." id="ingredient_measurement_A' + i + '" required></div>';
    document.getElementById('new_ingredient').appendChild(newparagraph);
    i++
}

function remove_fields() {
  var paragraphs = document.getElementById("new_ingredient").getElementsByTagName("p");
  var lastParagraph = paragraphs[paragraphs.length-1];
  lastParagraph.parentNode.removeChild(lastParagraph);
}

function removeDiv(divId) {
   $("#"+divId).remove();
}
