<div class="container">
<h3>Search by Recipe Name</h3>
  <form action="/search/recipes", method="get">
  <p><input type="text" name="search" size="40" placeholder="For example: chicken salad, pizza,"></p>
  <p><input type="submit" name="submit"></p>
</div>
