<div class="container">
  <h2>List of all recipes</h2>
  <% if flash[:message] != nil %>
    <div class="alert"><%= flash.now[:message] %></div>
  <% end %>

  <% Recipe.all.each do |recipe| %>
    <li><a href="/recipes/<%= recipe.id %>/<%= recipe.slug %>"><%= recipe.name %></a></li>
  <% end %>
</div>
