th, td {
    padding-right: 15px;
}

.main-header {
  background: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ), url('/images/header-opt.jpg') center no-repeat;
  height: 400px;
  margin-top: -20px;
  margin-bottom: 20px;
}

.category-box {
  font-size: 2em;
}

.title {
  position: relative;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

.header-h1 {
  text-transform: uppercase;
  margin: 0;
  font-size: 3em;
  white-space: nowrap;
  color: white;
}

.header-h4 {
  margin: 0;
  font-size: 1.5em;
  color: white;
}

a.category-links {
  text-decoration: none;
  color: black;
}

.inactiveLink {
   pointer-events: none;
   cursor: default;
}

.recipe-header {
  float: left;
}

.recipe-header-heart {
  float: left;
  margin-top: 17px;
}

.clear {
  clear: both;
}

.like-heart, .like-heart:hover, .like-heart:focus {
  text-decoration: none;
  color: gray;
  outline: 0;
}

.unlike-heart, .unlike-heart:hover, .unlike-heart:focus {
  text-decoration: none;
  color: red;
  outline: 0;
}
.recipe-image:hover {
  text-decoration: none;
}

.recipe-thumbs {
  text-align: center;
}

.recipe-links {
  text-decoration: none;
  color: #333;
}

.recipe-h3 {
  text-align: center;
  color: #333;
}

.recipe-hr {
  width: 300px;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.recipe-text {
  font-weight: bold;
  font-size: 1.1em;
}

.recipe-select-form {
  width: 120px;
}
