<div class="container">
  <% if flash[:message] != nil %>
    <div class="alert"><%= flash.now[:message] %></div>
  <% end %>
  <h3>Sign up to access all these great features!</h3>
  <p>By signing in with Facebook, you can</p>
  <ul>
    <li>Add your recipes</li>
    <li>Make a recipe your own</li>
    <li>Save your favorite recipes</li>
    <li>View other user's recipes and favorites pages.</li>
  </ul>
  <div class="well col-md-6">
    <form action="/signup" method="POST">
      <p>Name: <input type="text" name="name" required></p>
      <p>Email: <input type="email" name="email" required></p>
      <p>Password: <input type="password" name="password" required></p>
      <p><a href="/signup"><button class="btn btn-default"><i class="fa fa-spoon fa-lg signin-icon-fa"></i> Sign Up</button></a></p>
    </form>
  </div>
  <div class="col-md-12">
    <p><a href="/login">Already have an account? Log in here.</a></p>
  </div>
</div>
