<div class="container">
  <% if flash[:message] != nil %>
    <span class="alert"><%= flash.now[:message] %></span>
  <% end %>
  <h2>Sign up to access all content</h2>
  <p>By signing in with Facebook, you can</p>
  <ul>
    <li>Add your recipes</li>
    <li>Make a recipe your own</li>
    <li>Save your favorite recipes</li>
  </ul>
</div>
